<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Systems_Engineer_Quiz.My.MySettings.systems_engineer_quizConnectionString"
            connectionString="server=localhost;user id=root;password=7910;database=systems_engineer_quiz;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Systems_Engineer_Quiz.My.MySettings.systems_engineer_quizConnectionString1"
            connectionString="server=localhost;user id=root;password=7910;persistsecurityinfo=True;database=systems_engineer_quiz"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>